.site-header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99;
	background: $color_black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 52px;
	
	h1 {
		margin: 0;
		line-height: 1;
		color: #ccc;
		font-size: 20px;
		padding-top: 3px;
	}
}

.img-responsive {
	width: 100%;
}

.card {
	display: flex;
	margin-top: 40px;
	border: 1px solid $color_gray;
	flex-direction: column;
	
	@media screen and (min-width:$viewport_m - 1) {
		flex-direction: row;
	}
	
	.card__edit {
		width: 100%;
		
		@media screen and (min-width:$viewport_m - 1) {
			width: 50%;
			&.front {
				border-right: 1px solid $color_gray;
			}
		}
	}
	
	.card__title {
		background: $color_primary;
		text-align: center;
		padding: 10px;
		font-weight: bold;
		border-bottom: 1px solid $color_gray;
	}
}

.card-design__front {
	width: 100%;
	height: 189px;
	max-width: 330px;
	margin: 5% auto;
	text-align: center;
	border: 1px solid $color_gray;
	position: relative;
	
	.img-responsive {
		height: 189px;
	}
}
	
	.card-content {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: rgba(0,0,0,0.2);
		padding: 15px;
		color: #fff;
	
		.logo {
			width: 36%;
		}
		
		input[type="text"] {
			width: 100%;
			border: none;
			text-align: center;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: none;
			color: #fff;
			min-height: 20px;
		}
		
		::-webkit-input-placeholder {
			color: #fff;
		}
		::-moz-input-placeholder {
			color: #fff;
		}
		::-ms-input-placeholder {
			color: #fff;
		}
		:-moz-input-placeholder {
			color: #fff;
		}
		.name {
			height: 30px;
			margin: 10px 0;
			font-weight: 800;
			font-size: 20px;
			text-transform: uppercase;
		}
	
		.title {
			font-size: 14px;
			border-bottom: 2px solid #ddd;
			border-top: 2px solid #ddd;
			padding: 2px 12px;
			margin-bottom: 15px;
			font-style: italic;
		}
		
		.company {
			font-weight: bold;
		}
	
		.phone, .email,.address {
			font-size: 13px;
			font-style: italic;
			line-height: 1.2;
			border:none;
			color: #fff;
		}	
}
.select-pattern {    
	position: absolute;
	color: $color_link;
	top: 13px;
	z-index: 999;
	width: 50%;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	font-family: "Playfair Display", serif;
	font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.pattern-item {
	.color,img {
		height: 80px;
		@media screen and (min-width:$viewport_m - 1) {
			height: 110px;
			}
	}
	
	.red {
		background: red;
	}
	.green {
		background: green;
	}
	.yellow {
		background: yellow;
	}
}